<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>WendyOne-Regular.ttf</string>
	</array>
    
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>processing</string>
        <string>remote-notification</string>
    </array>
    
    
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>plnkgameapp</string>
            </array>
        </dict>
    </array>
    
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.sweetbounceappgroup.SweetBounce.backgroundProccess</string>
    </array>
    
    <key>NSUserNotificationUsageDescription</key>
    <string>We use notifications to inform you of important updates and big events.</string>
    <key>NSCameraUsageDescription</key>
    <string>Let access camera to this app.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>This app uses your data to provide personalized advertising experiences and to improve our services. Your privacy is important to us, and we ensure your data is handled securely and in compliance with privacy regulations.</string>
</dict>
</plist>
